  <div class="table_container">
    <table>
      <thead>
        <tr>
        <th scope="col"> </th>
        <% @guitars.each do |guitar| %>
          <th scope="col"><%= guitar.name %></th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <% @guitars_categories.each do |guitar_category| %>
          <% cat = guitar_category[0].to_sym %>
          <tr>
             <th scope="col"><%= guitar_category[0] %></th>

             <% @guitars.each do |guitar| %>
              <td><%= guitar.send(cat) %></td>
             <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
