.guitar__show__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.guitar__show__container {
  img {
    transform: rotate(270deg);
  }
}

.guitar__show__table img {
  margin-top: 32px;
  margin-bottom: 16px;
}
